header{
    max-width: 100%;
    height: 60px;
    background-color: #000000;
    margin:0 auto;
}

section{
    background-image: url("/frontend/src/assets/banner/banner.jpg");
    background-size: cover;
}